*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
.container{
	width: 100%;
	height: 450px;
   font-size: 1.1em;
   line-height: 1.8;
   color: white;
}
.header{
	background-image:url(../images/bg1.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 450px;
	background-size: cover;
	text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   
}
.header h1{
	color: white;
	padding-top: 100px;
}
.container .btn{
   margin: 20px;
   padding: 20px 35px;
   font-size: 15px;
   background-color: #333;
   color: white;
   border: 1px ridge grey;
   font-size: 20px; 
}
.container .btn:hover{
	background-color: white;
	color: #333;
	cursor: pointer;
}
.container2{
	width: 100%;
	height: 260px;
	background: #eaeaea;
	position: relative; 
}
.section{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	position: absolute;
}
.section h2{
	padding-top: 40px;
}
.div1{
	width: 30%;
	height: 190px;
	padding-top: 50px;
	margin-left: 290px;
	float: left;
	line-height: 1.7;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.div2{
	width: 30%;
	height: 190px;
	margin-left: 40px;
	padding-top: 50px;
	float: left;
	line-height: 1.7;
	font-size: 18px;
}
.container3{
	width: 100%;
	height: 700px;
	background-color: #333;
}
.section2{
	width:70%;
	height: 570px;
	margin: 70px 250px;
	position: absolute;
}


.section2 .img1{
	width: 30%;
	height: 570px;
	float: left;
	margin-left:30px;
	box-shadow: 5px 5px 5px black;
}
.section2 .img2{
	width: 30%;
	height: 570px;
	float: left;
	margin-left:30px;
	box-shadow: 5px 5px 5px black;
}
.section2 .img3{
	width: 30%;
	height: 570px;
	float: left;
	margin-left:30px;
	box-shadow: 5px 5px 5px black;

}
.img1{
	background-image: url(../images/bg2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: ghostwhite;
}
.img2{
	background-image: url(../images/bg3.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: ghostwhite;
}
.img3{
	background-image: url(../images/bg4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: ghostwhite;
}
 .section2 h2{
   padding-top:250px;
   font-family: Arial, Helvetica, sans-serif;
}
.img1 p{
	line-height: 1.3;
	font-size: 20px;
	padding-top: 20px;
}

.img2 p{
	line-height: 1.3;
	font-size: 20px;
	padding-top: 20px;
}
.img3 p{
	line-height: 1.3;
	font-size: 20px;
	padding-top: 20px;
}
.container4{
	width: 100%;
	height: 280px;
}
.section3 h2{
	text-align: center;
	padding-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.section3 p{
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	padding-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
}
.container5{
	width: 100%;
	height: 380px;
	text-align: center;
	color: white;
}
.footer{
	width: 50%;
	height: 380px;
	background: #2690d4;
	float: left;
}
.footer1{
	width: 50%;
	height: 380px;
	float: left;
	background:#333;
}
.footer h2{
	padding-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
.footer1 h2{
	padding-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
.footer p{
   font-size:20px;
   line-height: 1.5;
   padding-top: 50px;
   padding-left: 20px;
}
.footer1 p{
   font-size:20px;
   line-height: 1.5;
   padding-top: 50px;
}
.footer h3{
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
}
.container6{
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
}
.footer2{
	margin: 30px 345px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}
.footer3{
	margin-right: 380px;
	margin-top: 30px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
}
span{
	color: #2690d4;;
}
@media screen and (max-width: 1024px){
	.section{
		width: 100%;
	}
	.div1{
		width: 29%;
		height: 150px;
		padding-top: 10px;
		margin-left: 200px;
		font-size: 18px;
		line-height: 1.2;
	}
	.div2{
		width: 30%;
		padding-top: 10px;
		height: 150px;
		font-size: 18px;
		line-height: 1.2;
	}
	.section2{
		width: 70%;
		height: 500px;
		margin: 70px 170px;
   }

	.section2 .img1{
		width: 27%;
		height:500px;
		padding:0px;
	}
	.section2 .img2{
		width: 27%;
		height:500px;
		padding: 0px;
	}
	.section2 .img3{
		width: 27%;
		height: 500px;
		padding: 0px;
	}
	.section2 h2{
		padding-top: 200px;
		font-size: 19px;
	}
	.section2 p{
		padding: 10px;
		font-size: 15px;
	}
	.footer2{
		margin-left: 150px;
	}
	.footer3{
	   margin-right: 170px;
}
@media screen and (max-width: 768px){
	.section{
		width: auto;
	}
	.div1{
		width: 35%;
	   height: 130px;
	  padding-top: 30px;
	  margin-left: 100px;
	  font-size: 15px;
	  line-height: 1.2;
	}
	.div2{
		width: 35%;
		height: 130px;
		padding-top: 30px;
		margin-left: 40px;
		font-size: 15px;
		line-height: 1.2;
	}
	.section2{
		height: 500px;
		width: 90%;
		margin: 55px 35px;
	}
	.section2 .img1{
		width: 32%;
		height:500px;
		margin-left:5px;
	}
	.section2 .img2{
		width: 32%;
		height:500px;
		margin-left:5px;
	}
	.section2 .img3{
		width: 32%;
		height:500px;
		margin-left:5px;
	}
	.container3{
		height:600px;
		width: 100%;
	}
	.section2 h2{
     padding-top:180px;
     font-size: 30px;
	}
	.img1 p{
	  line-height: 1.2;
	  font-size: 19px;
   }
   .img2 p{
	  line-height: 1.2;
	  font-size: 19px;
   }
   .img3 p{
	  line-height: 1.2;
	  font-size: 19px;
   }
   .section3 p{
	  font-size: 15px;
	 line-height: 1.5;
	 padding-left: 10px;

   }
   .container4{
   	height: 200px;
   }
   .footer{
	  height: 420px;
   }
   .footer1{
	  height: 420px;
   }
   .container6{
   	height: 150px;
   }
	.footer2{
		margin-right: 0px;
	}

}
@media screen and (max-width: 425px){
	.header h1{
		font-size: 40px;
		line-height: 1.2;
	}
	.header p{
		padding-left: 10px;
		font-size: 17px;
	}
	.container2{
		height: 420px;
	}
	.section h2{
		font-size: 30px;
	}
  .div1{
		margin-left:25px;
		width: 90%;
		height:100px;
		font-size: 20px;
	}
	.div2{
		margin-left:25px;
		width: 90%;
		height: 100px;
		font-size: 20px;
		padding-top: 5px;
	}
	.container3{
		height: 1800px;
	}
	.section2{
	 width:85%;
	 height: 1700px;
   }
   .section2 .img1{
   	width: 100%;
   	height: 550px;
   	margin-left: 0px;
   }
   .section2 .img2{
   	width: 100%;
   	height: 550px;
   	margin-left: 0px;
   	padding-top: 0px;
   	margin-top: 20px;
   }
   .section2 .img3{
   	width: 100%;
   	height: 550px;
   	margin-left: 0px;
   	padding-top: 0px;
   	margin-top: 20px;
   }
   .container4{
   	height: 350px;
   }
   .section3 h2{
   	font-size: 30px;
   }
   .section3 p{
   	font-size: 20px;
   }
   .container5{
   	height: 800px;
   }
   .footer{
   	width: 100%;
   	font-size: 15px;
   }
   .footer1{
   	width: 100%;
   	font-size: 15px;
   }
   .footer2{
	  margin-left: 100px;
	}
   
   .footer3{
     margin-right: 150px;
     margin-top: -25px;
   }
}
@media screen and (max-width: 375px){
	.footer2{
		margin-left: 90px;
	}
	.footer3{
		margin-right: 110px;
	}
	.div2{
		padding-top: 20px;
	}
}
@media screen and (max-width: 320px){
	.container{
		height: 500px;
	}
	.header{
		height: 500px;
	}
	.section2{
		margin-left: 20px;
	}
	.container5{
		height: 860px;
	}
	.footer1{
		height: 450px;
	}
	.container6{
		height: 100px;
	}
	.footer2{
		margin-left: 50px;

	}
	.footer3{
		margin-right: 90px;
	}

}
